* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  justify-content: center;
  display: grid;
  border: 5px solid red;

  /* grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 220px 220px; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(5, 200px); */
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-columns: repeat(auto-fit 100px); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-content: center;
}
.grid-container .grid {
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
